<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="cliente-name mt-8">{{cliente.nombres}} {{cliente.apellidos}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="clienteForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombres</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="nombres" formControlName="nombres" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Apellidos</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="apellidos" formControlName="apellidos" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Correo</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="correo" formControlName="correo" matInput required type="email">
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="fechaNacimientoPicker" [max]="currentDate" name="fechaNacimiento" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="fechaNacimientoPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fechaNacimientoPicker></mat-datepicker>
                </mat-form-field>
            </div>
        
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Dirección</mat-label>
                    <mat-icon matSuffix class="secondary-text">address</mat-icon>
                    <input name="direccion" formControlName="direccion" matInput >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
            </div>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(clienteForm)"
                [disabled]="clienteForm.invalid"
                aria-label="AGREGAR">
            AGREGAR
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',clienteForm])"
                [disabled]="clienteForm.invalid"
                aria-label="GUARDAR">
            GUARDAR
        </button>

    </div>
</div>
